{% extends "index.html" %}{% set headerized_class = 'non-headerized' %}
{% block breadcrumbs %}
  <span onclick="window.location.href='/index'">Go somewhere nice</span>
{% endblock %}
{% block body %}
  <h1>Void or Non-Existent Term</h1>
  <p>Sorry. Your term could not be found. It could be void or non-existent.</p>
  <p><a href="{{ url_for('index') }}">Go somewhere nice</a></p>
{% endblock %}
{% block footer_extra %}
  <script>

    var interval = Math.floor(1000 / 60 * 10);
    var resizeTimer;
    var wrapper = $('#form-inner-wrapper');

    function wrapper_resize() {
      wrapper.css('width', Math.max.apply(null, [270,parseInt(3*$(window).width()/4)]));
    }

    $(document).ready(function(){

      window.addEventListener('resize', function (event) {
        if (resizeTimer !== false) {
          clearTimeout(resizeTimer);
        }
        resizeTimer = setTimeout(function () {
          wrapper_resize();
        }, interval);
      });

      wrapper_resize();

    });
  </script>
{% endblock %}
